Name: Ivan Petkov
<br />
FN: 1901261077
<br />
Theme: Restraunt order system
<br />

<p>
    <h2>
        MVC Web приложение свързващо 3 модела(Orders,Waiters,Menus)<br />
        Изпълнено(силно казано): <br />
        1. Всяка таблица има поне 6 колони с поне 4 различни типове <br />
        2. Задаване на ограничения и задължителни полета <br />
        3.Създаване на база данни <br />
        4.Създаване на Уеб приложение с CRUD операции върху всяка таблица + опция за търсене <br />
        5.Сортиране(Descending order) и странициране <br />
    </h2>
</p>



<img id="blah" src="https://www.looper.com/img/gallery/things-only-adults-notice-in-jimmy-neutron/intro-1602679825.jpg" alt="your image" />
